*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login--container{
    background-color:aquamarine;
    max-width: 100%;
    height: 100vh;
}
.login--container h1{
    color: #000;
    font-family: sans-serif;
}
.input--container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: antiquewhite; */
    height: 100vh;
}
.input--container input{
    height: 1.8rem;
    width: 15rem;
}
.input--container button{
    width: 10.5rem;
    height: 2rem;
}
.error--txt{
    color: red;
    display: none
}
.error--txt.active{
    display: block;
}